<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-centered">
        <h1 class="text-center text-info">
          <%= poll.poll_title %>
        </h1>
        <form method="POST" action="/poll" class="row flex-column align-items-center">
          <ul id="sortable" class="list-unstyled col-md-6">
            <% for (var key in poll.options) { %>
              <li class="ui-state-default text-center text-info d-flex" rel="<%= poll.options[key].id %>">
                <div class="card-body bg-white">
                  <% if(poll.options[key].option_url){ %>
                        <img class="img-fluid" src="/uploads/<%= poll.options[key].option_url %>">
                      <% } else{ %>  
                        <img class="img-fluid" src="https://i.imgur.com/F5iJY.jpg">
                      <% } %>
                  <h4><div class="option_name"><%= poll.options[key].option_name %></div></h4>
                  <div class="option_desc"><%= poll.options[key].option_desc %></div>
                </div>
              </li>
              <% } %>
          </ul>
          <div class="button-div">
            <button class="btn btn-info submitoptions" type="button">Submit Vote</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(function () {
      $("#sortable").sortable();
      $("#sortable").disableSelection();

      function touchHandler(e) {
        var touches = e.changedTouches;
        var first = touches[0];
        var type = "";

        switch (e.type) {
          case "touchstart":
            type = "mousedown";
            break;
          case "touchmove":
            type = "mousemove";
            break;
          case "touchend":
            type = "mouseup";
            break;
          default:
            return;
        }

        var simulatedEvent = document.createEvent("MouseEvent");
        simulatedEvent.initMouseEvent(type, true, true, window, 1, first.screenX, first.screenY, first.clientX, first.clientY, false, false, false, false, 0, null);

        first.target.dispatchEvent(simulatedEvent);
        e.preventDefault();
      }

      function init() {
        document.getElementById('sortable').addEventListener("touchstart", touchHandler, true);
        document.getElementById('sortable').addEventListener("touchmove", touchHandler, true);
        document.getElementById('sortable').addEventListener("touchend", touchHandler, true);
        document.getElementById('sortable').addEventListener("touchcancel", touchHandler, true);
      }

      init();
    });
  </script>
</body>
</html>
