<!DOCTYPE html>
<html lang="en">

<% include ./partials/_header %>

<body>
  <div class="container">
    <h1 class="text-info text-center"><%= poll.poll_title %></h1>
    <br>
    <div class="row text-secondary flex-column align-items-center">
      <div class="col-md-8">
        <table class="table table-hover text-center results-table">
          <thead>
            <tr>
              <th><span class="text-info">Rank</span></th>
              <th><span class="text-info">Option</span></th>
              <th><span class="text-info">Score</span></th>
            </tr>
          </thead>
          <tbody>
            <% var counter = 0 %>
            <% for (var key in poll.options) { %>
            <tr>
              <td><%= counter = counter + 1 %></th>
              <td><%= poll.options[key].option_name %></td>
              <td><%= poll.options[key].sum || 0 %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <br>
        <div class="input-group">
          <span class="input-group-addon text-info" id="basic-addon3">Share Poll</span>
          <input type="text" class="form-control text-secondary" id="basic-url" aria-describedby="basic-addon3" value="<%= `http://localhost:8080/poll/${poll.poll_id}` %>">
        </div>
      </div>
    </div>

  </div>
  <script>
    $(function() {
      setInterval(function(){ 
        getNewVotesAndUpdate(<%= poll.poll_id %>);
      }, 5000);
    });
  </script>
</body>


</html>
