<!DOCTYPE html>

<html lang="en">

<% include ./partials/_header %>

<head>
  <style>
  .container {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
  }
  </style>
</head>

<body>
  <h1 class="text-center"><%= poll.poll_title %></h1>

  <div class="container resultstable">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Option</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% var counter = 0 %>
        <% for (var key in poll.options) { %>
        <tr>
          <th scope="row"><%= counter = counter + 1 %></th>
          <td><%= poll.options[key].option_name %></td>
          <td><%= poll.options[key].sum || 0 %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <p class="text-center">Share Poll: <br><input value=<%= `localhost:8080/poll/${poll.poll_id}` %> disabled></input></p>
  </div>
</body>


</html>
